body{
  background: #eee;
  overflow-x: hidden;
}

a, a *{
  text-decoration: none;
  color: black;
}

.header{
  height: 40px;
}

.App{
  margin: 0px auto;
  width: 80vw;
}

.logo-header{
  width: 72px;
  height: 16px;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 500;
}

.title{
  font-size: 30px;
  font-weight: bold;
}

.text-overflow-hidden{
  overflow: hidden;
}

.flex-1{
  flex: 1;
}