.header-tab{
  height: 40px;
  overflow: auto;
  flex: 1;

  .child-tab{
    font-weight: 500;
    min-width: 100px;
    color: rgb(159, 159, 159);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .child-tab.active{
    font-weight: bold;
    color: black;
  }
}

/* width */
.header-tab::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
.header-tab::-webkit-scrollbar-track {
  background: #f1f1f1;
  display: none;
}

/* Handle */
.header-tab::-webkit-scrollbar-thumb {
  background: #888;
  display: none;
}

/* Handle on hover */
.header-tab::-webkit-scrollbar-thumb:hover {
  background: #555;
  display: block;
}

.header-dropdown{
  width: 40px;
  background-color: white;
  cursor: pointer;
}

.header-dropdown-content{
  min-height: 120px;
  background-color: white;
  border-top: 1px solid gray;
  width: 100%;
  padding-top: 10px;
  position: absolute;
  transition: min-height 0.5s;
  flex-wrap: wrap;
  top: 80px;
  z-index: 1;

  .list-item{
    border: 1px solid rgb(230, 230, 230);
    font-size: 15px;
    color: rgb(41, 41, 41);
    font-weight: 500;
    height: 39.6px;
    background-color: white;
    border-radius: 30px;
    transition: background-color 0.5s;
    min-width: 100px;
    margin-right: 12px;
    margin-bottom: 10px;
    margin-left: 14px;
  }

  .list-item.active{
    background-color: black;
    color: white;
  }

  .list-item:hover{
    background-color: #eee;
  }
}

.header-dropdown-content.hidden{
  min-height: 0px;
  padding: 0px;
  border: none;
}

.header-dropdown-label{
  color:#292929;
  margin-left: 15px;
}

.backdrop-dropdown{
  width: 100%;
  position: absolute;
  background-color: rgba(235,235,235,0.9);
  height: 100vh;
}