.item-img{
  width: 250px;
  height: 150px;
  background-size: cover;
}

.item-title{
  line-height: 22px;
  font-size: 20px;
  font-weight: 500;
}

.item-sub-title{
  font-size: 15px;
  color: #9f9f9f;
}

.black, .black:hover{
  color: black;
}

@media screen and (max-width: 426px) {
  .item-img{
    width: 112px;
    height: 64px;
  }

  .item-title{
    font-size: 15px;
  }

  .item-sub-title{
    font-size: 12px;
  }
}